/* common */
* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family: 'Nerko One', cursive;
}
.card {
    width: 200px;
    height: 250px;
    margin: 20px 10px;
    float: left;
    box-shadow: 1px 1px grey;
    border-radius: 15%;
    background-image: url("../img/pattern.png");
    background-repeat:repeat;
    background-color: white;
}
img{
    height: 100;
}
/* body */
.container {
    width: 100%;
    height: 1000px;
    background-color: #ADD8E6;
}
/* header */
h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    text-transform:uppercase;
}
/* main */
main {
    width: 70%;
    margin : auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
h4 {
    overflow: hidden;
}
/* hover */
.baloon:hover,
.bicycle:hover,
.cruise:hover,
.submarine:hover,
.tractor:hover,
.tram:hover {
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
}
.baloon:hover {
    background-image: url('../img/noun_air_balloon_3134741.png');
    
}
.bicycle:hover {
    background-image: url('../img/noun_Bicycle_3134821.png');
}
.tractor:hover {
    background-image: url('../img/noun_Tractor_3134797.png');
}
.submarine:hover {
    background-image: url('../img/noun_Submarine_3134738.png');
}
.cruise:hover {
    background-image: url('../img/noun_Cruise_Ship_3134824.png');
}
.tram:hover {
    background-image: url('../img/noun_Tram_3134750.png');
}
/* footer */
.autore {
    width: 50%;
    height : 40px;
    margin: auto;
    font-size: 25px;
    text-align: center;
}
