* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}
.container {
    width: 100%;
    height: 1000px;
    background-color: #ADD8E6;
}

.title {
    width: 50%;
    height: 100px;
    margin : auto;
    background-color: black;
}
main {
    width: 70%;
    margin : auto;
}
.card {
    width: 200px;
    height: 250px;
    background-color: blue;
    margin: 20px 10px;
    float: left;
    left : 15px;
    border-radius: 15%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;

}
.autore {
    width: 50%;
    height : 40px;
    margin: auto;
    background-color: black;
}
